.btn-core
	background: $light-grey
	text-align: center
	width: 100%
	border: 2px solid transparent

	&:focus, &:active
		box-shadow: none
		border: 2px solid transparent

	&.selected
		background: #ffffff
		border: 2px solid $green

.core
	padding: 25px
	display: flex
	flex-direction: column
	justify-content: space-around
	align-items: center

	&-title
		font-weight: 500

	&-info
		margin-top:	10px
		padding-bottom: 20px

	&-pricing
		color: #A3AEB7

		.price
			font-weight: 700

	.core-cap
		font-weight: 700

	p
		margin-bottom: 0

