.feature
	background: $light-grey
	margin: 10px 0
	padding: 15px
	border-radius: 5px
	display: flex
	align-items: center
	justify-content: space-between

	i
		color: $blue
		font-size: 36px

	&-info
		max-width: 80%

		p
			margin: 0

		h3
			font-size: 18px
			margin-bottom: .25em

	&-pricing
		display: flex
		flex-direction: column
		align-items: center

	&.selected
		background: #ffffff

	.btn
		text-transform: uppercase

.btn-success
	color: #ffffff

.btn-selected
	background: none
	color: $blue
	font-weight: 500
	letter-spacing: 0.5px