.sidebar
	padding: 25px
	border-radius: 10px
	box-shadow: 0px 0px 85px 1px rgba(0,0,0,0.1)
	margin-top: 50px

	.sidebar-heading,
	.investment
		text-align: center
		font-size: smaller
		color: $light-text
		font-weight: 300
		letter-spacing: 0.5px
		margin: 15px

	.selection
		margin: 15px 0

		.selected
			padding: 10px
			background: $light-grey
			margin: 10px
			border-radius: 5px

			&-heading
			    display: flex
			    align-items: center
			    margin-bottom: .25em

			    h4
			    	font-size: 1em
			    	margin: 0

			p
				margin: 0

	.investment_price
		text-align: center
		font-size: 2.5em
		font-weight: 900

.addon
	border-radius: 3px
	background: $light-blue
	color: #ffffff
	font-size: 11px
	padding: 3px 7px
	margin-left: 10px

.fi-close
	color: #C7CDD3
	font-size: 11px
	margin-left: auto

	&:hover
		cursor: pointer