.step
	margin-top: 50px
	padding-bottom: 50px

.stepHeading
	.step-number
		display: inline-block
		color: #ffffff
		background: $light-blue
		padding: 5px 15px
		border-radius: 5px
		font-weight: 300
		letter-spacing: 0.5px
		margin-bottom: 30px

	.step-title
		text-transform: uppercase