/*
Flaticon icon font: Flaticon
Creation date: 04/09/2018 17:32
*/

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.eot");
	src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Flaticon.woff") format("woff"),
	url("../fonts/Flaticon.ttf") format("truetype"),
	url("../fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	}
}

.fi:before{
	display: inline-block;
	font-family: "Flaticon";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.fi-mail:before { content: "\f100"; }
.fi-check-form:before { content: "\f101"; }
.fi-graph:before { content: "\f102"; }
.fi-love-and-romance:before { content: "\f103"; }
.fi-close:before { content: "\f104"; }

$font-Flaticon-mail: "\f100";
$font-Flaticon-check-form: "\f101";
$font-Flaticon-graph: "\f102";
$font-Flaticon-love-and-romance: "\f103";
$font-Flaticon-close-button: "\f104";